.wrapper {
    height: 100vh;
    background: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    padding: 0 3em;
    border-radius: 35px;
    background: white;
    height: 90%;
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-wrapper > div a {
    text-decoration: none;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.login-form > div {
    /* flex: 1; */
    margin-bottom: 2em;
    width: 100%;
}

.login-form label {
    font-size: x-large;
}

.login-form input {
    margin-top: .3em;
    font-size: x-large;
    width: 100%;
    border: 2px solid #4076FF;
    padding: 0.3em 2px;
    border-radius: 5px;
    outline: none;
}

.login-form button {
    margin: 25px 0 30px 0;
    outline: none;
    font-size: x-large;
    color: #F9F9F9;
    background: #655DCC;
    width: 100%;
    padding: 7px 0;
    border-radius: 20px;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.login-form button:hover {
    background: #776ef1;
}

.login-wrapper hr {
    width: 100%;
}

.login-wrapper a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.login-wrapper a:hover {
    color: #6860d4;
}

@media (max-width: 1060px) {
    .login-wrapper {
        width: 60%;
    }
}

@media (max-width: 665px) {
    .login-wrapper {
        width: 65%;
    }
}

@media (max-width: 500px) {
    .login-wrapper {
        width: 85%;
    }
}

@media (max-width: 400px) {
    .login-wrapper {
        height: 100vh;
        border-radius: 0px;
        width: 100%;
    }

    .login-wrapper p {
        font-size: medium;
    }

    .login-form input {
        font-size: large;
    }
}