.wrapper {
    background: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-wrapper {
    padding: 0 3em;
    border-radius: 35px;
    background: white;
    height: 90%;
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.signup-form > div {
    /* flex: 1; */
    margin-bottom: 2em;
    width: 100%;
}

.signup-form label {
    font-size: x-large;
}

.signup-form input {
    margin-top: .3em;
    font-size: x-large;
    width: 100%;
    border: 2px solid #4076FF;
    padding: 0.3em 2px;
    border-radius: 5px;
    outline: none;
}

.signup-form button {
    outline: none;
    font-size: x-large;
    color: #F9F9F9;
    background: #655DCC;
    width: 100%;
    padding: 7px 0;
    border-radius: 20px;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.signup-form button:hover {
    background: #776ef1;
}

.signup-wrapper hr {
    width: 100%;
}

.signup-wrapper a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.signup-wrapper a:hover {
    color: #6860d4;
}